@page
@model GBEventos.Pages.Account.LoginModel
@{
	ViewData["Title"] = "Login";
	//Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Usuarios.Email" class="form-control" />
        <span asp-validation-for="Usuarios.Email" class="text-danger"></span>
    </div>
    <div>
        <label>Senha:</label>
        <input asp-for="Usuarios.SenhaHash" type="password" class="form-control" />
        <span asp-validation-for="Usuarios.SenhaHash" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>

</form>

<div class="mt-3 text-center">
    <span>Não tem uma conta?</span>
    <a href="/Eventos/CreateEvent" class="btn btn-link p-0 align-baseline">Cadastre-se</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}